
<% @posts.each do |post| %>
<h2> <%= link_to post.title, post %> </h2>

<div>
<p> <%= post.content.truncate(300, separator: ' ') %> </p> 
</div>

<div>
<p> Author: <%= post.user.full_name %> </p>
<p> Created: <%= post.created_at.to_date %> </p>
</div>

<br>

<% end %>