.error {
    max-width: 960px;
    margin: auto;
    background-color: rgb(240, 29, 29);
    color: white;
    text-align: center;
}

.post-title {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    margin-right: 50px;
}

.post-body {
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    font-size: medium;
}

.post-date {
    float: right;
}

.form-label {
    margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.title-input {
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.body-input {
    width: 80%;
    word-break: break-word;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 2px;
    resize: none;
}

.submit-input {
    float: right;
    border: none;
	padding: 8px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
}

form {
    height: auto;
    padding-bottom: 0px;
} 