<h2> Welcome to the blogging engine!</h2>


<h3> Here you can register as a user and start making posts instantly! </h4>

<p> 
Get started by clicking Register above.
</p>

<p>
Have a look at existing posts by clicking posts
</p>

<p>
Don't worry about mistakes! You can easily <b>edit</b> or <b>delete</b> a post you make!
</p>