/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    background-color: #343535b0;
}

.body-text {
    background-color: rgb(209, 207, 207);
    padding-bottom: 20px;
    padding-top: 20px;
}

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2vh;
}

nav {
    width: 100vw;
    background-color: #D6EFFF;
}

.header {
    margin-left: 20px;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.link {
    text-decoration: none;
    color: black;
    padding: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin: 0;
    padding-top: 6px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 50%;
}

a {
    color: rgb(15, 15, 15);
    margin-left: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-left: 5px;
    color: black
}

h2, h3, form, button{
    margin-left: 5px;
    padding: 0;
}

input {
    width: auto;
    height: auto;
    margin-top: 7px;
    margin-bottom: 10px;
}

input#post_title {
    width: 20%;
    height: 30px;
}

input#post_content {
    width: 60%;
    height: 70px;
    justify-content: start;
}
  
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(19, 19, 19);
}

.notice {
    text-align: center;
    width: 99%;
    padding: 10px 0 10px 0; 
    margin-top: 1em;
    color: white;
    background-color: rgba(19, 19, 247, 0.349); 
    border-radius: 6px;
}